Flask-JWT-Extended==3.24.1
flask-cors==3.0.10
marshmallow==3.10.0
flask-marshmallow==0.14.0
flask-sqlalchemy==2.4.4
marshmallow-sqlalchemy==0.24.1
mysqlclient==2.0.3
webargs==7.0.1
jsonschema==3.2.0
PyJWT==v1.7.1

aiohttp==3.7.3
async-timeout==3.0.1
attrs==20.3.0
bidict==0.21.2
certifi==2020.12.5
chardet==3.0.4
click==7.1.2
dnspython==1.16.0
eventlet==0.25.2
Flask==1.1.2
greenlet==1.0.0
idna==3.1
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
monotonic==1.5
multidict==5.1.0
Flask-SocketIO==3.1.0
python-engineio==3.1.2
python-socketio==3.0.0
six==1.15.0
typing-extensions==3.7.4.3
Werkzeug==1.0.1
wincertstore==0.2
yarl==1.6.3
